<!DOCTYPE html>  
<html lang="en">  
  <head> </head>
      <body>
        <label>You Entered the Name:</label> <%= data %> 
        <br>
        <label>You Entered the age:</label> <%= data1 %> 
        <br>
        <label>You Entered the city: </label> <%= data2 %> 
        <br>
      </body>
</html>